{% extends 'AppBundle:Components/Page:page-admin.html.twig' %}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}
{% block title %}Admin{% endblock %}

{% block validationSummary %}
    {#{{ form_errors_list(form) }}#}
{% endblock %}


{% block pageBody %}
    <hr>
    {% include 'AppBundle:Admin:_jump_to_user.html.twig' %}

    <h1 class="form-title heading-medium">
        Add a deputy user
    </h1>
    {% include 'AppBundle:Admin:_add.html.twig' %}

{% endblock %}
