// ==========================================================================
// CARDS
// The report card styling on the 'Your reports' page

.opg-card {
    position: relative;
    box-sizing: border-box;
    min-height: 120px;
    padding: 15px;
    overflow: hidden;
    border: 1px solid $govuk-border-colour;

    &__actions {
        @include media(tablet) {
            position: absolute;
            right: $govuk-gutter-half;
            bottom: $govuk-gutter-half;
        }
    }

    &.disabled {
        background-color: govuk-colour("grey-3");;
    }
}
