// ==========================================================================
// DETAILS BANNER
// Details banner component

@import 'shims';
@import "typography";

.opg-details-banner{
    @include govuk-clearfix;

    padding: govuk-spacing(3) 0;
    border-bottom: 1px solid $govuk-border-colour;

    &__content {
        float: left;
    }


    &__helpline {
        position: static;
        float: right;

        h3 {
            @include govuk-font(16, $weight: bold)
        }
    }


}
