// ==========================================================================
// PROGRESS INDICATOR
// When setting up user and client (registration)

$spacingforchevron: 14px;

.opg-progress-bar {
    @include govuk-media-query($from: tablet) {
        display: flex;
    }

    width: 100%;
    margin: 45px 0;
    padding: 0;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    background-color: $grey-4;
    list-style-type: none;
    counter-reset: pos;


    &__item {
        @include govuk-media-query($from: tablet) {
            display: inline-flex;
            text-align: center;
            align-items: center;
        }

        position: relative;
        flex: auto;
        padding: 20px 20px 20px 50px;
        counter-increment: pos;

        &::before {
            @include border-radius(100%);

            position: absolute;
            top: 50%;
            left: 0;
            width: 1.334em;
            height: 1.334em;
            margin: {
                top: -.666em;
                left: 7px;
            }
            background-color: $grey-3;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.5;
            text-align: center;
            content: counter(pos);
        }

        &--completed {
            color: $turquoise;
        }

        &--completed::before {
            background: $turquoise url('/images/progress-tick.png') center center no-repeat;
            color: $white;
            content: '';
        }

        &--previous {
            @include govuk-media-query($from: tablet) {
                background: url('/images/progress-chevron-end.png') right 50% no-repeat;
            }
        }

        &--active {
            background-color: $light-blue;
            color: $white;

            @include govuk-media-query($from: tablet) {
                &:not(:last-child) {
                    background: $light-blue url('/images/progress-chevron.png') right 50% no-repeat;
                }
            }
        }

        &--active::before {
            background-color: white;
            color: $light-blue;
        }
    }
}
