// ==========================================================================
// RELATED
// Govuk related resources (aside)

.app-related-items {
    padding-top: 10px;
    border-top: 10px solid $link-colour;

    .govuk-list {
        li {
            margin-bottom: 10px;
        }
    }
}

.app-related-items--fixed {
    position: fixed;
    top: 1em;
}
