{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block proposition_content %}
{# <nav id="proposition-menu">
    <a href="/" id="proposition-name">Complete the deputy report</a>
    <ul id="proposition-links">
        <li><a href="/admin/">Cases</a></li>
        <li><a href="/admin/">Users</a></li>
        <li><a href="/admin/casrec-upload">Upload</a></li>
        <li><a href="/admin/stats">Stats</a></li>
        <li><a href="/deputyship-details">Deputyship details</a></li>
        <li><a href="/admin/documents/list">Documents</a></li>
        <li><a href="/logout">Sign out</a></li>
    </ul>
</nav> #}
{% endblock %}

{# Page title #}
{% block htmlTitle %}Mockup{% endblock %}
{% block pageTitle %}Overview - Balance section{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}

{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <div class="panel panel-admin hard">
        <div class="panel-heading">
            <h2 class="heading-medium flush--bottom push--right">Current report</h2>
        </div>
        <div class="panel-body soft-half">
            <div class="grid-row">
                <div class="column-one-half">
                    <dl class="push--bottom">
                        <dt>
                            <strong class="bold">Report status</strong>
                        </dt>
                        <dd class="push--bottom">
                            <span class="status status-large not-started flush--bottom">
                                Not started
                            </span>
                        </dd>

                        <dt class="visually-hidden">
                            <strong class="bold">Report options</strong>
                        </dt>
                        <dd class="push--bottom">
                            <a href="/report/2/review">Preview report</a>
                        </dd>
                    </dl>
                </div>

                <div class="column-one-half">
                    <dl class="push--bottom">
                        <dt>
                            <strong class="bold">Reporting period</strong>
                        </dt>
                        <dd class="push--bottom">
                            <span class="push--right"> 20 March 2016 to  19 March 2017</span>
                            <a href="/reports/edit/2" class="right behat-link-edit-report-period">Edit</a>
                        </dd>

                        <dt>
                            <strong class="bold">Report due date</strong>
                        </dt>
                        <dd class="push--bottom">
                             14 May 2017<br>
                             <span class="font-xsmall bold text-red">Overdue by 198 days</span>
                         </dd>
                    </dl>
                </div>

            </div>

            <p>
                <strong class="bold">Report sections to complete</strong>
            </p>

            <div id="overview-sections" class="push--bottom">

                <div class="grid-row">
                    <div class="column-one-half">
                        <ul>

                            <li id="decisions-section" class="section-list-item">
                                <div id="decisions-sub-section">
                                    <a class="behat-link-edit-decisions link-edit soft-half--ends" id="edit-decisions" href="/report/2/decisions" aria-label="Edit">
                                        Decisions
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>
                                </div>
                            </li>

                            <li id="contacts-section" class="section-list-item">
                                <div id="contacts-sub-section">
                                    <a class="behat-link-edit-contacts link-edit soft-half--ends" id="edit-contacts" href="/report/2/contacts" aria-label="Edit">
                                        Contacts
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="visits_care-section" class="section-list-item">
                                <div id="visits_care-sub-section">
                                    <a class="behat-link-edit-visits_care link-edit soft-half--ends" id="edit-visits_care" href="/report/2/visits-care" aria-label="Edit">
                                        Visits and care
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="pa_fee_expense-section" class="section-list-item">
                                <div id="pa_fee_expense-sub-section">
                                    <a class="behat-link-edit-pa_fee_expense link-edit soft-half--ends" id="edit-pa_fee_expense" href="/report/2/pa-fee-expense" aria-label="Edit">
                                        Deputy fees and expenses
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="gifts-section" class="section-list-item">
                                <div id="gifts-sub-section">
                                    <a class="behat-link-edit-gifts link-edit soft-half--ends" id="edit-gifts" href="/report/2/gifts" aria-label="Edit">
                                        Gifts
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="actions-section" class="section-list-item">
                                <div id="actions-sub-section">
                                    <a class="behat-link-edit-actions link-edit soft-half--ends" id="edit-actions" href="/report/2/actions" aria-label="Edit">
                                        Actions you plan to take
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="other_info-section" class="section-list-item">
                                <div id="other_info-sub-section">
                                    <a class="behat-link-edit-other_info link-edit soft-half--ends" id="edit-other_info" href="/report/2/any-other-info" aria-label="Edit">
                                        Any other information
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="column-one-half">
                        <ul>

                            <li id="bank_accounts-section" class="section-list-item">
                                <div id="bank_accounts-sub-section">
                                    <a class="behat-link-edit-bank_accounts link-edit soft-half--ends" id="edit-bank_accounts" href="/report/2/bank-accounts" aria-label="Edit">
                                        Accounts
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="bank_accounts_not_balanced-section" class="section-list-item">
                                <div id="bank_accounts_not_balanced-sub-section">
                                    <div class="alert-important panel panel-border-narrow">
                                        <span class="icon icon-important-small"></span>
                                        <div class="behat-alert-message alert-message">
                                            <p>Accounts not balanced<a href="/report/2/balance" class="behat-link-balance-view-details right">View details</a></p>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li id="money_transfers-section" class="section-list-item">
                                <div id="money_transfers-sub-section">
                                    <a class="behat-link-edit-money_transfers link-edit soft-half--ends" id="edit-money_transfers" href="/report/2/money-transfers" aria-label="Edit">
                                        Money transfers
                                        <span class="right status flush--bottom done">no transfers</span>
                                    </a>
                                </div>
                            </li>

                            <li id="money_in-section" class="section-list-item">
                                <div id="money_in-sub-section">
                                    <a class="behat-link-edit-money_in link-edit soft-half--ends" id="edit-money_in" href="/report/2/money-in" aria-label="Edit">
                                        Money in
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="money_out-section" class="section-list-item">
                                <div id="money_out-sub-section">
                                    <a class="behat-link-edit-money_out link-edit soft-half--ends" id="edit-money_out" href="/report/2/money-out" aria-label="Edit">
                                        Money out
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="assets-section" class="section-list-item">
                                <div id="assets-sub-section">
                                    <a class="behat-link-edit-assets link-edit soft-half--ends" id="edit-assets" href="/report/2/assets" aria-label="Edit">
                                        Assets
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="debts-section" class="section-list-item">
                                <div id="debts-sub-section">
                                    <a class="behat-link-edit-debts link-edit soft-half--ends" id="edit-debts" href="/report/2/debts" aria-label="Edit">
                                        Debts
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>

                            <li id="documents-section" class="section-list-item">
                                <div id="documents-sub-section">
                                    <a class="behat-link-edit-documents link-edit soft-half--ends" id="edit-documents" href="/report/2/documents" aria-label="Edit">
                                        Supporting documents
                                        <span class="right status flush--bottom not-started">Not started</span>
                                    </a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# {% include 'AppBundle:Element/MockLibrary:_cases_deputies_search.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_deputies_deputy-details.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_clients_search.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_clients_client-details.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_case-number_search.html.twig' %} #}

{% endblock %}
