{#

Multiple lay deputies - Your reports page
Headings as NDR design

#}

{% extends 'AppBundle:Layouts:application.html.twig' %}

{# Page title #}
{% block htmlTitle %}Multiple Lay Deputies Section - Mockup{% endblock %}
{% block pageTitle %}Your reports{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">Tim Draper</span>
{% endblock %}

{% block pageContent %}

    {# Deputies section #}
    {# <div class="grid-row">
        <div class="column-half">
            <h2 class="heading-large flush--top">Deputies</h2>
        </div>
        <div class="column-half text--right">
            <a href="/report/70/contacts/add?from=summary" class="bold-small action-link behat-link-add">
                <span class="icon icon-plus"></span>
                Invite another deputy
            </a>
        </div>
    </div>
    <table class="check-your-answers">
        <thead>
            <tr>
                <th>Name or email</th>
                <th>Status</th>
                <th>
                    <span class="visually-hidden">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Edward Floor</td>
                <td>Registered</td>
                <td class="change-answer"></td>
            </tr>
            <tr>
                <td>sarah.drougnutinaosa@digital.justice.gov.uk</td>
                <td>Awaiting registration</td>
                <td class="change-answer">
                    <a href="">Resend invite</a>
                </td>
            </tr>
        </tbody>
    </table> #}

    <h2 class="heading-large push-half--bottom">Current deputy report</h2>
    <div id="decisions-sub-section" class="">

    <div class="card soft-half">
        <span class="status status-corner incomplete">NOT FINISHED</span>
        <h3 class="heading-medium flush--ends">Caitlin Palmer</h3>
        <div class="card-body">
                            <p>
                    1 January 2015 -
                    1 January 2016
                </p>
                <a href="/reports/102?reportId=70">Edit reporting period</a>
                    </div>
                <div class="card-actions">
            <a href="/report/70/overview" class="button behat-link-report-start">Continue</a>
        </div>
    </div>

    <h2 class="heading-large">Submitted reports</h2>

    <table class="behat-region-reports-history">
        <thead>
            <tr>
                <th>Report type</th>
                <th>Reporting period</th>
                <th>Submission date</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/odr/4/review">
                        New deputy report
                    </a>
                </td>
                <td>Start of deputyship</td>
                <td>3 Jul 2017</td>
                <td>
                    <a href="/odr/4/deputyodr.pdf">
                        Download
                    </a>
                </td>
                <td class="text--right hard--right">
                    <a href="/odr/4/review" class="button-secondary">
                        View
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
