{#

Multiple lay deputies - Your reports page
Headings as NDR design

#}

{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block proposition_content %}
<nav id="proposition-menu">
    <a href="/" id="proposition-name">Complete the deputy report</a>
    <ul id="proposition-links">
        <li><a href="/admin/">Cases</a></li>
        <li><a href="/admin/">Users</a></li>
        <li><a href="/admin/casrec-upload">Upload</a></li>
        <li><a href="/admin/stats">Stats</a></li>
        <li><a href="/deputyship-details">Deputyship details</a></li>
        <li><a href="/admin/documents/list">Documents</a></li>
        <li><a href="/logout">Sign out</a></li>
    </ul>
</nav>
{% endblock %}

{# Page title #}
{% block htmlTitle %}Mockup{% endblock %}
{% block pageTitle %}Cases{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}

{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {# {% include 'AppBundle:Element/MockLibrary:_cases_deputies_search.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_deputies_deputy-details.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_clients_search.html.twig' %} #}
    {# {% include 'AppBundle:Element/MockLibrary:_cases_clients_client-details.html.twig' %} #}
    {% include 'AppBundle:Element/MockLibrary:_cases_case-number_search.html.twig' %}

{% endblock %}
