// Layout
// ==========================================================================

// Content
// ==========================================================================

.app-wrapper {
	position: relative;
}

// Wider layout

$wider: 1200px;

.app-width-container--wider {
    @include media(desktop) {
        max-width: $wider;
    }

    @include media($min-width: 1020px) {
        margin-left: $gutter;
        margin-right: $gutter;
    }

    @include media($min-width: 1260px) {
        margin-left: auto;
        margin-right: auto;
    }
}

@include media(desktop) {
    #global-header {
        .header-wrapper {
            &.wider {
                max-width: $wider + 30px;
            }
        }

        &.with-proposition {
            .header-wrapper {
                &.wider {
                    .header-global {
                        width: 25%;
                    }

                    .header-proposition {
                        width: 75%;
                    }
                }
            }
        }
    }

    #footer {
        .footer-wrapper {
            &.wider {
                max-width: $wider;
            }
        }
    }
}

#global-header-bar,
#content {
    &.wider {
        @include media(desktop) {
            max-width: $wider;
        }

        @include media($min-width: 1020px) {
            margin: 0 $gutter;
        }

        @include media($min-width: 1260px) {
            margin: 0 auto;
        }
    }
}
