{% extends 'AppBundle:Components/Page:page-admin.html.twig' %}

 {% trans_default_domain "admin" %}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}
{% block title %}Admin{% endblock %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
{% endblock %}


{% block pageBody %}
    <h1 class="form-title heading-medium">
        Add a user
    </h1>
    {% include 'AppBundle:Admin:_add.html.twig' %}

    <hr>
    {% include 'AppBundle:Admin:_jump_to_user.html.twig' %}

    <hr>
    {% include 'AppBundle:Admin:_list.html.twig' with {users: users, form: form} %}

{% endblock %}
