<div class="section-tabs js-tabs">
        <ul>
            <li class="active"><a href="#">Deputies</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Reports</a></li>
        </ul>
    </div>

<h2 class="heading-medium">Zara Atkinson</h2>

    <ul class="font-xsmall">
        <li>
            <span class="bold width-tenth">Active: </span>Yes
        </li>
        <li>
            <span class="bold">NDR: </span>No
        </li>
        <li>
            <span class="bold width-tenth">Registration date: </span>23. November 2015
        </li>
    </ul>

    <div class="grid-row push--top">
        <div class="column-half">
            <h3 class="heading-small flush--ends">Deputy details</h2>
        </div>
        <div class="column-half text--right">
            <a href="#" class="bold-small move-quarter--up action-link behat-link-add">
                Change
            </a>
        </div>
    </div>

    <table class="table-font-xsmall">
        <tbody>
            <tr valign="top">
                <th scope="row" class="bold">Address</th>
                <td class="behat-region-profile-address">
                    <div itemprop="streetAddress">95 Merthyr Road</div>
                    <div itemprop="addressLocality">BURGH CASTLE</div>
                    <div itemprop="postalCode">SW1</div>
                    <div itemprop="addressCountry">United Kingdom</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="bold">Phone number</th>
                <td class="behat-region-profile-phone">07009646450</td>
            </tr>
            <tr>
                <th scope="row" class="bold">Alternative phone number</th>
                <td>07009646450</td>
            </tr>
            <tr>
                <th scope="row" class="bold">Email address</th>
                <td class="behat-region-profile-email">MaddisonKelly@teleworm.us</td>
            </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Client(s)</h2>

    <table class="table-font-xsmall width-two-thirds">
        <thead>
            <tr>
                <th>Name</th>
                <th class="numeric-small text--right">Case number</th>
                <th class="numeric-small text--right">Number of reports</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td><a href="#">Maddison Kelly</a></td>
                <td class="numeric">10223266</td>
                <td class="numeric">1</td>
            </tr>
        </tbody>
    </table>