<div class="section-tabs js-tabs">
        <ul>
            <li><a href="#">Deputies</a></li>
            <li class="active"><a href="#">Clients</a></li>
            <li><a href="#">Reports</a></li>
        </ul>
    </div>

<h2 class="heading-medium">Maddison Kelly</h2>

{#     <ul class="font-xsmall">
        <li>
            <span class="bold width-tenth">Case number: </span>10223266
        </li>
    </ul> #}

    {# <div class="grid-row push--top">
        <div class="column-half">
            <h3 class="heading-small flush--ends">Client details</h2>
        </div>
        <div class="column-half text--right">
            <a href="#" class="bold-small move-quarter--up action-link behat-link-add">
                Change
            </a>
        </div>
    </div> #}

    <table class="table-font-xsmall width-two-thirds">
        <tbody>
            <tr>
                <th scope="row" class="bold">Case number</th>
                <td class="behat-region-profile-phone">10223266</td>
            </tr>
            <tr>
                <th scope="row" class="bold">Reports</th>
                <td class="behat-region-profile-phone">4</td>
            </tr>
            <tr>
                <th scope="row" class="bold">Court order date</th>
                <td class="behat-region-profile-email">04 March 2011</td>
            </tr>
            <tr valign="top">
                <th scope="row" class="bold">Address</th>
                <td class="behat-region-profile-address">
                    <div itemprop="streetAddress">16 Front St</div>
                    <div itemprop="addressLocality">HENSTRIDGE ASH</div>
                    <div itemprop="postalCode">BA8 3PA</div>
                    <div itemprop="addressCountry">United Kingdom</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="bold">Phone number</th>
                <td class="behat-region-profile-phone">078 0621 5260</td>
            </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Deputies</h2>

    <table class="table-font-xsmall">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">NDR</th>
                    <th scope="col">Active</th>
                    <th scope="col" class="numeric">Registration date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Zara Atkinson</a></td>
                    <td>ZaraAtkinson@jourrapide.com</td>
                    <td>-</td>
                    <td>Yes</td>
                    <td class="numeric">23/11/2017</td>
                </tr>
            </tbody>
        </table>