<div class="text">
        <p>In this section we ask for details of how you have managed John's money during this reporting period.</p>
    </div>

    <h2 class="heading-small">We've listed your saved answers below.</h2>

    <p class="text">Check they're correct and edit them where necessary.</p>

    <p class="text--right flush--bottom">
        <a href="/report/4/overview" class="bold-small">Return to client profile</a>
    </p>

    <table class="check-your-answers columns-2 push-double--bottom">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th><span class="visually-hidden">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="behat-region-categories">
                <td>Tell us about the different categories of money paid into John's accounts</td>
                <td>State pension and benefits, Bequests – for example, inheritance, gifts received, Compensations and damages awards</td>
                <td class="change-answer">
                    <a class="behat-link-edit" href="/report/4/money-in-short/category?from=summary">Edit</a>
                </td>
            </tr>
            <tr class="behat-region-categories">
                <td>Tell us about the different categories of state pension and benefits paid into John's accounts</td>
                <td>Private pension, Disability Living Allowance, Income Support, Winter Fuel/Cold Weather Payment</td>
                <td class="change-answer">
                    <a class="behat-link-edit" href="/report/4/money-in-short/category?from=summary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="check-your-answers columns-2 push-double--bottom">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th><span class="visually-hidden">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="behat-region-records-exist">
                <td>Have there been any one-off income payments over £1,000?</td>
                <td>No</td>
                <td class="change-answer">
                    <a class="behat-link-edit" href="/report/4/money-in-short/exist?from=summary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination" class="pagination" role="navigation">
        <ul class="group">
            <li class="previous">
                <a href="/report/4/bank-accounts" rel="prev" title="Navigate to previous part"><span class="pagination-label">Previous section</span> <span class="pagination-part-title">Bank Accounts</span></a>
            </li>
            <li class="next">
                <a href="/report/4/money-out-short" rel="next" title="Navigate to next part"><span class="pagination-label">Next section</span> <span class="pagination-part-title">Money Out</span></a>
            </li>
        </ul>
    </nav>