<ul>
        <li class="overview-section">
            <div id="balance-sub-section" class="section-list-item">
                <a href="#">
                    <h3 class="heading heading-medium">Section</h3>
                    <span class="status flush--bottom not-matching">label</span>
                    <span class="edit-link">Edit</span>
                    <p class="description text">Some text here</p>
                </a>
            </div>
        </li>
            {#
                NOT DUE
                1. Not started
                2. Some started
                3. Not balanced
                4. Balanced

                DUE
                1. Not started
                2. Some started
                3. Not balanced
                4. Balanced
                5. Not balanced with explanation
                6. Balanced with explanation
            #}

            {# 1. Not started #}

        <li class="overview-section">
            <div id="balance-sub-section" class="section-list-item">
                <a href="#">
                    <h3 class="heading heading-medium">Account balance check</h3>
                    <span class="status flush--bottom not-started">Not ready</span>
                    <span class="edit-link">View</span>
                    <p class="description text">Check that John's accounts balance.</p>
                </a>
            </div>
        </li>

        <li class="overview-section">
            <div id="balance-sub-section" class="section-list-item">
                <a href="#">
                    <h3 class="heading heading-medium">Account balance check</h3>
                    <span class="status flush--bottom incomplete">Not balanced</span>
                    <span class="edit-link">View</span>
                    <p class="description text">Check that John's accounts balance.</p>
                </a>
            </div>
        </li>

        <li class="overview-section">
            <div id="balance-sub-section" class="section-list-item">
                    <h3 class="heading heading-medium">Account balance check</h3>
                    <span class="status flush--bottom incomplete">Not balanced</span>
                    <a href="#" class="edit-link">View</a>
                    <p class="description text">Check that John's accounts balance.<br>
                    <a href="#">Edit explanation</a>
                    </p>
            </div>
        </li>

        <li class="overview-section">
            <div id="balance-sub-section" class="section-list-item">
                <a href="#">
                    <h3 class="heading heading-medium">Account balance check</h3>
                    <span class="status flush--bottom done">Balanced</span>
                    <span class="edit-link">View</span>
                    <p class="description text">Check that John's accounts balance.</p>
                </a>
            </div>
        </li>


        <li class="overview-section">
            <li class="overview-section">
            <div id="balance-sub-section" class="section-list-item">
                <a href="#">
                    <h3 class="heading heading-medium">Section</h3>
                    <span class="status flush--bottom not-matching">label</span>
                    <span class="edit-link">Edit</span>
                    <p class="description text">Some text here</p>
                </a>
            </div>
        </li>
    </ul>