   <div class="formatted-report">

        <div class="section break-before" id="debts-section">
            <h2 class="section-heading">Client's debts</h2>
            <div class="dont-break">
                <div class="box">
                    <table class="labelvalue money">
                        <tbody>
                            <tr class="">
                                <td class="label noborder">Outstanding care home fees</td>
                                <td class="value text--right width-fifth">£678.00</td>
                            </tr>
                            <tr class="">
                                <td class="label noborder">Credit cards</td>
                                <td class="value text--right width-fifth">£66.00</td>
                            </tr>
                            <tr class="">
                                <td class="label noborder">Loans</td>
                                <td class="value text--right width-fifth">£66.00</td>
                            </tr>
                            <tr class="">
                                <td class="label noborder">Other</td>
                                <td class="value text--right width-fifth">£788.00</td>
                            </tr>
                            <tr>
                                <td class="hard noborder" colspan="2">
                                    <div class="labelvalue soft-half--top">
                                        <div class="label">
                                            More details about the other debts
                                        </div>
                                        <div class="value">
                                            Nobis at eos odit. In totam cupiditate corrupti aut reprehenderit ea repudiandae. Aut enim assumenda molestiae.
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="hard noborder" colspan="2">
                                    <div class="labelvalue soft-half--top">
                                        <div class="label">
                                            Details of how the debt is being managed or reduced
                                        </div>
                                        <div class="value">
                                            Quia facere ut commodi expedita reprehenderit quaerat totam. Nisi dolor asperiores consequatur minus. A ipsa nam sit iste in assumenda qui assumenda. Quia dolores facere dolores. Ad voluptates voluptas at aut.
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box">
                    <table class="labelvalue money">
                        <tbody>
                            <tr>
                                <td class="label bold">Debts Total Value</td>
                                <td class="value total width-fifth" id="assetsTotal">£1,598.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>