    <form id="account-form" method="post" name="account" novalidate="novalidate">
        <p class="text">Tell us about the different categories of state pension and benefits paid into John's accounts</p>
        <p class="form-hint">Please tick all that apply</p>
        <div class="form-group form-group__checkbox-group" id="form-group-account_category">
            <fieldset class="">
                <div class="multiple-choice">
                    <input class="" id="account_category_11" name="account[category]" required="required" type="checkbox" value="other-benefits"> <label class="" for="account_category_11">Private pension</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_11" name="account[category]" required="required" type="checkbox" value="other-benefits"> <label class="" for="account_category_11">State pension</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_0" name="account[category]" required="required" type="checkbox" value="attendance-allowance"> <label class="" for="account_category_0">Attendance Allowance</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_1" name="account[category]" required="required" type="checkbox" value="disability-living-allowance"> <label class="" for="account_category_1">Disability Living Allowance</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_2" name="account[category]" required="required" type="checkbox" value="employment-support-allowance"> <label class="" for="account_category_2">Employment Support Allowance</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_3" name="account[category]" required="required" type="checkbox" value="housing-benefit"> <label class="" for="account_category_3">Housing Benefit</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_4" name="account[category]" required="required" type="checkbox" value="incapacity-benefit"> <label class="" for="account_category_4">Incapacity Benefit</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_5" name="account[category]" required="required" type="checkbox" value="income-support"> <label class="" for="account_category_5">Income Support</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_6" name="account[category]" required="required" type="checkbox" value="pension-credit"> <label class="" for="account_category_6">Pension Credit</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_7" name="account[category]" required="required" type="checkbox" value="personal-independence-payment"> <label class="" for="account_category_7">Personal Independence Payment</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_8" name="account[category]" required="required" type="checkbox" value="severe-disablement-allowance"> <label class="" for="account_category_8">Severe Disablement Allowance</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_9" name="account[category]" required="required" type="checkbox" value="universal-credit"> <label class="" for="account_category_9">Universal Credit</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_10" name="account[category]" required="required" type="checkbox" value="winter-fuel-cold-weather-payment"> <label class="" for="account_category_10">Winter Fuel/Cold Weather Payment</label>
                </div>
                <div class="multiple-choice">
                    <input class="" id="account_category_11" name="account[category]" required="required" type="checkbox" value="other-benefits"> <label class="" for="account_category_11">Other benefits</label>
                </div>
            </fieldset>
        </div><button class="button behat-link-save-and-continue" id="account_save" name="account[save]" type="submit">Save and continue</button> <input id="account_id" name="account[id]" type="hidden"><input id="account__token" name="account[_token]" type="hidden" value="4FV2X_Mg2crWRNHuF471FFYZEJouNbpnMjifKM0cLKU">
    </form>