    <form id="visits_care" method="post" name="visits_care" novalidate="novalidate">
        <div class="form-section push--bottom">
            <div class="form-group flush--bottom" id="form-group-visits_care_whoIsDoingTheCaring">
                <label class="form-label required text form-label-bold" for="visits_care_whoIsDoingTheCaring">How is the debt being managed or reduced? <span class="form-hint text">For example, some text about what we mean here</span></label>
                <ul class="form-hint list-bullet"></ul>
                <textarea class=" form-control" id="visits_care_whoIsDoingTheCaring" name="visits_care[whoIsDoingTheCaring]" required="required"></textarea>
            </div>
        </div><button class="button behat-link-save-and-continue" id="visits_care_save" name="visits_care[save]" type="submit">Save and continue</button> <a class="button-link behat-link-step-skip" href="/report/5/visits-care/step/4">Skip this question for now</a> <input id="visits_care__token" name="visits_care[_token]" type="hidden" value="ofE023mmZQlKbnvggYSO4ug-x1y6Kx3D8Go_ZwLpbl0">
    </form>