    <p class="text">In this section, we ask you about 102a's debts, for example, care fees, credit cards or loans.</p>

    <h2 class="heading-small">We've listed your saved answers below.</h2>

    <p class="text">Check they're correct and edit them where necessary.</p>

    <p class="text--right flush--bottom">
        <a href="/report/1/overview" class="bold-small">Return to client profile</a>
    </p>

    <table class="check-your-answers columns-2 push-double--bottom">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th><span class="visually-hidden">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="behat-region-has-debts">
                <td>Does 102a have any debts?</td>
                <td>Yes</td>
                <td class="change-answer">
                    <a class="action-link behat-link-edit" href="/report/1/debts/exist?from=summary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="grid-row behat-region-debts-list">
        <div class="column-half">
            <h2 class="heading-medium flush--ends">List of debts</h2>
        </div>
        <div class="column-half text--right">
            <a href="/report/1/debts/edit?from=summary" class="bold-small action-link behat-link-edit">Edit</a>
        </div>
    </div>

    <table class="check-your-answers columns-2">
        <thead>
            <tr>
                <th>Description</th>
                <th class="numeric">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="behat-region-debt-care-fees">
                <td>Outstanding care home fees</td>
                <td class="numeric-small">£678.00</td>
            </tr>
            <tr class="behat-region-debt-credit-cards">
                <td>Credit cards</td>
                <td class="numeric-small">£66.00</td>
            </tr>
            <tr class="behat-region-debt-loans">
                <td>Loans</td>
                <td class="numeric-small">£66.00</td>
            </tr>
            <tr class="behat-region-debt-other">
                <td>Other</td>
                <td class="numeric-small">£788.00</td>
            </tr>
            <tr>
                <td class="no-border"><span class="bold-small">Total amount</span></td>
                <td class="no-border text--right"><span class="bold-small">£1,598.00</span></td>
            </tr>
        </tbody>
    </table>

    <table class="check-your-answers columns-2 push--top">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th><span class="visually-hidden">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="behat-region-debt-other-more-details">
                <td>more about 102a's other debts of £788.00</td>
                <td>Nobis at eos odit. In totam cupiditate corrupti aut reprehenderit ea repudiandae. Aut enim assumenda molestiae.</td>
                <td class="change-answer">
                    <a class="action-link" href="/report/1/debts/edit?from=summary">Edit</a>
                </td>
            </tr>
            <tr class="behat-region-debt-other-more-details">
                <td>Details of how the debt is being managed or reduced</td>
                <td>Quia facere ut commodi expedita reprehenderit quaerat totam. Nisi dolor asperiores consequatur minus. A ipsa nam sit iste in assumenda qui assumenda. Quia dolores facere dolores. Ad voluptates voluptas at aut.</td>
                <td class="change-answer">
                    <a class="action-link" href="/report/1/debts/edit?from=summary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination" class="pagination" role="navigation">
        <ul class="group">
            <li class="previous">
                <a href="/report/1/assets" rel="prev" title="Navigate to previous part"><span class="pagination-label">Previous section</span> <span class="pagination-part-title">Assets</span></a>
            </li>
            <li class="next">
                <a href="/report/1/documents" rel="next" title="Navigate to next part"><span class="pagination-label">Next section</span> <span class="pagination-part-title">Documents</span></a>
            </li>
        </ul>
    </nav>