<h2 class="heading-large push-half--bottom">Current deputy report</h2>
<div id="decisions-sub-section" class="">

<div class="card soft-half">
    <span class="status status-corner incomplete">NOT FINISHED</span>
    <h3 class="heading-medium flush--ends">Caitlin Palmer</h3>
    <div class="card-body">
                        <p>
                1 January 2015 -
                1 January 2016
            </p>
            <a href="/reports/102?reportId=70">Edit reporting period</a>
                </div>
            <div class="card-actions">
        <a href="/report/70/overview" class="button behat-link-report-start">Continue</a>
    </div>
</div>