<h2 class="heading-large">Submitted reports</h2>

<table class="behat-region-reports-history">
    <thead>
        <tr>
            <th>Report type</th>
            <th>Reporting period</th>
            <th>Submission date</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="/odr/4/review">
                    New deputy report
                </a>
            </td>
            <td>Start of deputyship</td>
            <td>3 Jul 2017</td>
            <td>
                <a href="/odr/4/deputyodr.pdf">
                    Download
                </a>
            </td>
            <td class="text--right hard--right">
                <a href="/odr/4/review" class="button-secondary">
                    View
                </a>
            </td>
        </tr>
    </tbody>
</table>